In [1]:
import pandas as pd

In [36]:
ls 2002

20020108__ga__special__general__state_senate__18.csv
20020122__ga__special__general__state_house__16.csv
20020129__ga__special__general__runoff__state_senate__18.csv
20020212__ga__special__general__runoff__state_house__16.csv
20020212__ga__special__general__state_senate__48.csv
20020226__ga__special__general__state_house__85.csv
20020820__ga__primary.csv
20020910__ga__primary__runoff.csv
20021022__ga__special__election__state_house__92.csv
20021105__ga__general.csv
20021105__ga__general__write-in.csv
code/

In [108]:
file_name = '2002/20021105__ga__general__write-in.csv'

In [109]:
df = pd.read_csv(file_name)

In [110]:
df.head()

   county               office  district  party       candidate  votes
0     NaN             Governor       NaN    NaN     Bill Bolton      9
1     NaN             Governor       NaN    NaN  David C. Byrne     15
2     NaN             Governor       NaN    NaN     Nan Garrett   1198
3     NaN             Governor       NaN    NaN         Sam Hay     62
4     NaN  Lieutenant Governor       NaN    NaN       Hugh Esco    788

In [117]:
df.groupby(['office']).count()

                             county  district  party  candidate  votes
office
Commissioner of Agriculture       0         0      0          1      1
Governor                          0         0      0          4      4
Lieutenant Governor               0         0      0          1      1
State House                       0         1      0          1      1
State Senate                      0         1      0          1      1
U.S. House                        0         4      0          4      4

In [112]:
df.loc[df.office == 'Agriculture Commissioner', 'office'] = 'Commissioner of Agriculture'

In [97]:
df.loc[df.office == 'Insurance Commissioner', 'office'] = 'Commissioner of Insurance'

In [113]:
df.loc[df.office == 'U.S. Representative', 'office'] = 'U.S. House'

In [103]:
df.loc[df.office == 'US Senate', 'office'] = 'U.S. Senate'

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
county       0 non-null float64
office       12 non-null object
district     6 non-null float64
party        0 non-null float64
candidate    12 non-null object
votes        12 non-null int64
dtypes: float64(3), int64(1), object(2)
memory usage: 704.0+ bytes

In [115]:
df.district = df.district.astype(pd.Int64Dtype())

In [116]:
df.candidate = df.candidate.str.strip()

In [118]:
df.to_csv(file_name, index=False)