## Notebook to check final files and make sure things are standardized.

- #### Office Name
- #### Party

In [1]:
import glob
import os

import pandas as pd

### This is pulling in all files from a particular year

In [5]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('2010', "*.csv"))), sort=True)

In [6]:
df.groupby('office').count()

                             candidate  county  district  party  votes
office
Appeals Court Judge               1590    1590         0   1590   1590
Attorney General                  1590    1590         0   1590   1590
Commissioner of Agriculture        954     954         0    954    954
Commissioner of Insurance         2385    2385         0   2385   2385
Commissioner of Labor             1113    1113         0   1113   1113
District Attorney                   81      81        81     81     81
Governor                          3339    3339         0   3339   3339
Lieutenant Governor                954     954         0    954    954
Public Service Commissioner       1590    1590      1590   1590   1590
Secretary of State                1908    1908         0   1908   1908
State House                       1127    1127      1127   1127   1127
State School Superintendent       1431    1431         0   1431   1431
State Senate                       720     720       720    720    720
Superior Court Judge               193     193       193    193    193
Supreme Court Justice              795     795         0    795    795
U.S. House                        1297    1297      1297   1297   1297
U.S. Senate                       1431    1431         0   1431   1431

In [7]:
df.groupby('party').count()

             candidate  county  district  office  votes
party
Democrat          7194    7194      1470    7194   7194
Independent          3       3         3       3      3
Libertarian       1594    1594       163    1594   1594
Nonpartisan       2578    2578       193    2578   2578
Republican       10143   10143      3147   10143  10143
Write-In           986     986        32     986    986

### Here we start to standardize things

In [38]:
ls 2006

20060718__ga__primary.csv          20061205__ga__general__runoff.csv
20060808__ga__primary__runoff.csv  code/
20061107__ga__general.csv

In [45]:
file_name = '2006/20061107__ga__general.csv'

In [46]:
df = pd.read_csv(file_name)

In [49]:
df.groupby(['party']).count()

             county  office  district  candidate  votes
party
Democrat       2117    2117       845       2117   2117
Libertarian    1113    1113       318       1113   1113
Nonpartisan     795     795         0        795    795
Republican     2205    2205       933       2205   2205
Write-In          0      11         7         11     11

In [48]:
# Democrat
# Republican
# Libertarian
# Independent
# Nonpartisan
# Green
# Write-In
# Unknown

df.loc[df.party == 'Democratic', 'party'] = 'Democrat'
df.loc[df.party == 'Non-Partisan', 'party'] = 'Nonpartisan'

df.loc[df.party == 'Republian', 'party'] = 'Republican'


df.loc[df.party == 'D', 'party'] = 'Democrat'
df.loc[df.party == 'Lib', 'party'] = 'Libertarian'
df.loc[df.party == 'R', 'party'] = 'Republican'

In [ ]:
df.groupby(['office']).count()

In [ ]:
df.loc[df.office == 'Agriculture Commissioner', 'office'] = 'Commissioner of Agriculture'

In [ ]:
df.loc[df.office == 'Insurance Commissioner', 'office'] = 'Commissioner of Insurance'

In [ ]:
df.loc[df.office == 'Public Service Commission', 'office'] = 'Public Service Commissioner'

In [ ]:
df.loc[df.office == 'Commissioner Of Agriculture', 'office'] = 'Commissioner of Agriculture'
df.loc[df.office == 'Commissioner Of Insurance', 'office'] = 'Commissioner of Insurance'
df.loc[df.office == 'Commissioner Of Labor', 'office'] = 'Commissioner of Labor'

In [ ]:
df.loc[df.office == 'Judge Of The Court Of Appeals', 'office'] = 'Judge of the Court of Appeals'
df.loc[df.office == 'Justice Of The Supreme Court', 'office'] = 'Justice of the Supreme Court'

In [ ]:
df.loc[df.office == 'Justice of the Supreme Court', 'office'] = 'Supreme Court Justice'

In [ ]:
df.loc[df.office == 'Judge of the Court of Appeals', 'office'] = 'Appeals Court Judge'

In [ ]:
df.loc[df.office == 'State Representative', 'office'] = 'State House'

In [ ]:
df.loc[df.office == 'State Senator', 'office'] = 'State Senate'

In [ ]:
df.loc[df.office == 'U.S. Representative', 'office'] = 'U.S. House'

In [ ]:
df.loc[df.office == 'US Senate', 'office'] = 'U.S. Senate'

In [ ]:
df.loc[df.office == 'Vice-President', 'office'] = 'Vice President'

### Here we are checking data and writing back out to csv file

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6243 entries, 0 to 6242
Data columns (total 6 columns):
county       6232 non-null object
office       6243 non-null object
district     2105 non-null float64
party        6241 non-null object
candidate    6243 non-null object
votes        6243 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 292.8+ KB

In [51]:
df.district = df.district.astype(pd.Int64Dtype())

In [52]:
df.candidate = df.candidate.str.strip()

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6243 entries, 0 to 6242
Data columns (total 6 columns):
county       6232 non-null object
office       6243 non-null object
district     2105 non-null Int64
party        6241 non-null object
candidate    6243 non-null object
votes        6243 non-null int64
dtypes: Int64(1), int64(1), object(4)
memory usage: 298.9+ KB

In [56]:
df[['county', 'office', 'district', 'party', 'candidate', 'votes']].to_csv(file_name, index=False)