In [1]:
import pandas as pd

# President

In [13]:
president = pd.read_html('http://sos.ga.gov/elections/election_results/2004_1102/write-in_2004.htm', header=0)[0]

In [16]:
president = president.rename(columns={'Unnamed: 0': 'county'})

In [17]:
president.head()

,county,Lawson Bone,David Byrne,David Cobb,John J. Kennedy,Ralph Nader,James Pace,Michael Peroutka,Tom Tancredo
0,Appling,0,0,0,0,1,0,0.0,0.0
1,Atkinson,0,0,0,0,0,0,0.0,0.0
2,Bacon,0,0,0,0,2,0,0.0,0.0
3,Baker,0,0,0,0,0,0,0.0,0.0
4,Baldwin,0,0,0,0,11,0,2.0,0.0

In [24]:
president_melted = pd.melt(president, id_vars=["county"], var_name="candidate", value_name="votes")

In [25]:
president_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 3 columns):
county       1280 non-null object
candidate    1280 non-null object
votes        1277 non-null float64
dtypes: float64(1), object(2)
memory usage: 30.1+ KB

In [29]:
president_melted.head()

     county    candidate  votes
0   Appling  Lawson Bone    0.0
1  Atkinson  Lawson Bone    0.0
2     Bacon  Lawson Bone    0.0
3     Baker  Lawson Bone    0.0
4   Baldwin  Lawson Bone    0.0

In [31]:
president_melted.to_clipboard()

# US Senate & House

In [38]:
us = pd.read_html('http://sos.ga.gov/elections/election_results/2004_1102/write-in_2004.htm', header=0)[1]

In [39]:
us = us.rename(columns={'Unnamed: 0': 'county'})
us.drop('Unnamed: 3', axis=1, inplace=True)
us.drop('Unnamed: 5', axis=1, inplace=True)
us.head()

,county,Al Bartell-US Senate,Matthew Jamison-US Senate,Gary Pelphrey-6th Congressional Dist.,Robert Anthony-9th Congressional District
0,Appling,0.0,0.0,0.0,0.0
1,Atkinson,0.0,0.0,0.0,0.0
2,Bacon,0.0,0.0,0.0,0.0
3,Baker,0.0,0.0,0.0,0.0
4,Baldwin,0.0,0.0,0.0,0.0

In [40]:
us_melted = pd.melt(us, id_vars=["county"], var_name="candidate", value_name="votes")

In [41]:
us_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 3 columns):
county       640 non-null object
candidate    640 non-null object
votes        634 non-null float64
dtypes: float64(1), object(2)
memory usage: 15.1+ KB

In [42]:
us_melted.head()

     county             candidate  votes
0   Appling  Al Bartell-US Senate    0.0
1  Atkinson  Al Bartell-US Senate    0.0
2     Bacon  Al Bartell-US Senate    0.0
3     Baker  Al Bartell-US Senate    0.0
4   Baldwin  Al Bartell-US Senate    0.0

In [43]:
us_melted.to_clipboard()

# Georgia Senate & House

In [50]:
ga = pd.read_html('http://sos.ga.gov/elections/election_results/2004_1102/write-in_2004.htm', header=0)[2]

In [51]:
ga = ga.rename(columns={'Unnamed: 0': 'county'})
ga.drop('Unnamed: 2', axis=1, inplace=True)
ga.head()

,county,Will Costa - State Senate Dist. 38,Sherri Jefferson-State Representative Dist. 77,Dave Clark-State Representative Dist. 98
0,Appling,0,0,0
1,Atkinson,0,0,0
2,Bacon,0,0,0
3,Baker,0,0,0
4,Baldwin,0,0,0

In [52]:
ga_melted = pd.melt(ga, id_vars=["county"], var_name="candidate", value_name="votes")

In [53]:
ga_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 3 columns):
county       480 non-null object
candidate    480 non-null object
votes        480 non-null int64
dtypes: int64(1), object(2)
memory usage: 11.3+ KB

In [54]:
ga_melted.head()

     county                           candidate  votes
0   Appling  Will Costa - State Senate Dist. 38      0
1  Atkinson  Will Costa - State Senate Dist. 38      0
2     Bacon  Will Costa - State Senate Dist. 38      0
3     Baker  Will Costa - State Senate Dist. 38      0
4   Baldwin  Will Costa - State Senate Dist. 38      0

In [55]:
ga_melted.to_clipboard()