In [1]:
import pandas as pd

In [2]:
df = pd.read_html('http://sos.ga.gov/elections/election_results/2008_0715/swgasenate.htm')

In [3]:
fullnames = df[1]

In [4]:
fullnames.shape

(579, 50)

In [5]:
fullnames.head(5)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,"State Senator, District 1 100% of precincts r...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Eric J...,NaN,Republican Candidates,Votes,% of Votes,NaN,NaN,Eric Johnson,NaN,5400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Republican Candidates,Votes,% of Votes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Eric Johnson,NaN,5400,100.0%,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Totals,5400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
fullnames = fullnames[fullnames.columns[[0,1,3,4]]]

In [8]:
fullnames.head(5)

,0,1,3,4
0,"State Senator, District 1 100% of precincts r...",NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Eric J...,NaN,Votes,% of Votes
2,NaN,Republican Candidates,% of Votes,NaN
3,NaN,Eric Johnson,5400,100.0%
4,NaN,Totals,NaN,NaN

In [9]:
fullnames.columns = ['district', 'candidate', 'votes', 'percent']

In [10]:
fullnames.head()

,district,candidate,votes,percent
0,"State Senator, District 1 100% of precincts r...",NaN,NaN,NaN
1,Republican Candidates Votes % of Votes Eric J...,NaN,Votes,% of Votes
2,NaN,Republican Candidates,% of Votes,NaN
3,NaN,Eric Johnson,5400,100.0%
4,NaN,Totals,NaN,NaN

In [11]:
fullnames.to_csv('2008_state_senate_fullname.csv', index=False)

In [12]:
df = pd.read_html('https://github.com/ATLJoeReed/openelections-data-ga/blob/c101d93abd19907a7c859999f31ef97c4f8a2745/2008/20080715__ga__general__primary__county.csv')

In [13]:
votes_20080715 = df[0]

In [14]:
votes_20080715.head()

   Unnamed: 0       office  candidate party    county  votes district
0         NaN  U.S. Senate  Chambliss     R   Appling    850      NaN
1         NaN  U.S. Senate     Totals     R   Appling    850      NaN
2         NaN  U.S. Senate  Chambliss     R  Atkinson     37      NaN
3         NaN  U.S. Senate     Totals     R  Atkinson     37      NaN
4         NaN  U.S. Senate  Chambliss     R     Bacon    957      NaN

In [15]:
votes_20080715.to_csv('votes_20080715.csv', index=False)